<div class="row">
  <div class="col-auto">
    {{!-- this can not be displayed somehow --}}
  <h2>Welomce{{userId.username}} to the offical Tech blog and forum brought to you by our sponsers Duros Brothers Technology Services Limited! </h2>
  </div>
</div>
<br>
{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> edititem post}}
  {{/each}}
</div>
{{/if}}