<form class="login-form" id=login-form">
  <div>
    <label for="user-login">Username:</label>
    <input type="text" placeholder="DroidDesigns66" id="username-input-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" placeholder="SecretPassword!" id="password-input-login" />
  </div>
  <div>
    <button class="btn btnprimary" type="submit">Login</button>
  </div>
</form>

<a href="/signup">Need to sign up? Click here</a>

<script src="/js/login.js"></script>