<form class="signup-form" id="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" placeholder="Type it here!" id="username-input-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" placeholder="Keep it secret and safe!" id="password-input-signup" />
  </div>
  <div>
    <button class="btn btnprimary" type="submit">signup</button>
  </div>
</form>

<a href="/login">Already have an account? Click here to log in!</a>

<script src="/js/signup.js"></script>